<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I'm Hungry</title>
    <link rel="stylesheet" href="../styles/hungrypsty.css">
</head>
<body>
    <% if(events.length <= 0) {   %>
        <p> No Options Available at This Time </p>
    <% } else { %>
        <form action="/confirmation" method="post">
        
            <div class="option_group">
                <% for(let i = 0; i < events.length; i++) { %>
                    <div class="option"> 
                        <p>Option <%= i+1 %></p>
                        <p>Location: <%= events[i].location %></p>
                        <p>Date: <%= events[i].date.getMonth() + 1 %> - <%= events[i].date.getDate() %></p>
                        <p>Swipes: <%= events[i].swipes %></p>
                    </div>
                    <% if (i != events.length - 1) {%>
                        <hr>
                    <% } %>
                <% } %>
            </div>
            <label for="confirm">Select an option: </label>
            <select id="confirm" name="confirm" value="<%= locals.confirm %>" >
                <% for(let j = 0; j < events.length; j++) {%>
                    <option value="<%= j+1 %>"><%= j+1 %></option>
                <% } %>
            </select>

            <input type="submit" value="Submit">
        </form>
        <% } %>
</body>
</html>